<!DOCTYPE html>
<html>
    <head>
        <title>navya</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body bgcolor="yellowgreen">
        <center><h1>Welcome To Your Notes</h1>
        <h3>Enter Your Credentials </h3>
        <form action="/myform" method="POST">
            Name :&nbsp;&nbsp;<input type="text" id="w1" name="user" placeholder="&nbsp;Name&nbsp;" required><br><br>
            Password :&nbsp;&nbsp;<input type="password" id="w2" name="password" placeholder="&nbsp;Password&nbsp;" ><br><br>
            <br>
            <button class="inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg"> LOGIN </button>

        </form></center>
        </body>
</html>